.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 80px 40px;
}
.contact-title {
  position: relative;
}
.contact-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600px;
}
.contact-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.contact-section {
  display: flex;
  gap: 50px;
  margin: 90px;
}
.left-section {
  display: flex;
  flex-direction: column;
}
.contact-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-left h1 {
  font-size: 80px;
  font-weight: 700;
  background: linear-gradient(to right, #dc2424 0%, #4a569d 51%, #dc2424 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.contact-left p {
  max-width: 550px;
  color: aliceblue;
  font-size: 20px;
  line-height: 38px;
}
.contact-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
  color: aliceblue;
  margin-top: 30px;
}
.contact-detail {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.contact-right label {
  color: aliceblue;
  font-size: 22px;
  font-weight: 500;
}

.contact-right input {
  border: none;
  width: 700px;
  height: 55px;
  border-radius: 5px;
  padding-left: 20px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 20px;
}
.contact-right textarea {
  width: 650px;
  /* max-width: 700px; */
  max-height: 300px;
  border: none;
  padding: 25px;
  border-radius: 5px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 20px;
}
.contact-submit{
  border: none;
  color: white;
  border-radius: 50px;
  background:linear-gradient(to right, #dc2424 0%, #4a569d 51%, #dc2424 100%); 
  font-size: 22px;
  padding: 15px 30px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.3s;

}
.contact-submit:hover{
  scale: 1.1;
  transition: 0.3s;
}

